.bg-primary-pk {
  background-color: $primary-color;
}

.current {
  background: #000;
}

.side-nav {
  height: 100%;
  position: fixed;
  left: 0;

  a:hover {
    background: #000;
  }

  .shrink-side-icons {
    display: none;

    & ~ a {
      padding: 0 4rem;
    }
  }
}

.main-content {
  margin-left: 14.5625rem;
  padding: 1rem 3rem;
  margin-top: 3.5rem;
  max-height: 100vh;
}

.type {
  &-grass {
    padding: 0.25rem 0.5rem;
    color: #fff;
    background: limegreen;
    border-radius: 10px;
  }

  &-poison {
    padding: 0.25rem 0.5rem;
    color: #fff;
    background: purple;
    border-radius: 10px;
  }
}
