$primary-color: #3d0000;
$nav-width: 250px;
$signin-width: 360px;
$hp-color: rgba(255, 0, 0, 0.75);
$atk-color: rgba(255, 166, 0, 0.75);
$def-color: rgba(0, 184, 6, 0.564);
$spatk-color: rgba(128, 0, 128, 0.75);
$spdef-color: rgba(250, 128, 114, 0.75);
$spd-color: rgba(7, 203, 224, 0.714);
