/* ========================================================================== */
/* IMPORTS */
/* ========================================================================== */
@import "variables";
@import "utilities";

/* ========================================================================== */
/* Global Styling */
/* ========================================================================== */
body {
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

/* ========================================================================== */
/* Login Page */
/* ========================================================================== */
#login {
  background: $primary-color;
  height: 100vh;

  #formContainer {
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px #111;
  }
}

/* ========================================================================== */
/* Pokedex Page */
/* ========================================================================== */
// #pokedex {
// }

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------------------------------------------- */
@media (max-width: 576px) {
  .side-nav {
    z-index: 1;
    transition: width 0.5s;

    .shrink-side-icons {
      display: flex;
      flex-direction: column;

      .shrink-btn {
        align-self: flex-end;
        font-size: 1.5rem;
        display: none;
      }

      .expand-btn {
        margin: auto;
        font-size: 1.5rem;
      }

      & ~ a {
        font-size: 1.25rem;
        padding: 0 1rem;

        img {
          height: 36px;
        }

        .side-menu-text {
          display: none;
        }
      }
    }
  }

  .main-content {
    margin-left: 4.25rem;
    transition: all 0.5s;
  }
}
