@import 'variables';
@import 'utilities';

// Global Styles

* {
  box-sizing: border-box;
}

// Set both body and html to 100% to enable scrolling in child element.
html {
  height: 100%;
}

body {
  height: 100vh;
  overflow: hidden;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

header {
  transform: translateY($navbar-height);
}

#sidenavToggler {
  display: none;
  margin-right: 1rem;
  border: 1px solid rgba(255, 255, 255, 0.25);

  i {
    font-size: 1.5rem;
  }
}

.navbar-brand a {
  text-decoration: none;
}

#appWrap {
  display: flex;
  // transition: transform 0.3s ease, width 0.3s;

  // &.show-nav {
  //   transform: translateX($sidenav-width);
  // }
}

.side-nav {
  border-right: 2px solid rgba(200, 200, 200, 0.1);
  height: 100vh;
  width: $sidenav-width;
  z-index: 100;
  // transform: translate(0, $navbar-height);
  transition: max-width 0.3s ease-in-out;
  overflow: hidden;
  max-width: $sidenav-width;

  &.show-sidenav {
    max-width: 0;
  }

  .profile-area {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 30px 0;

    img {
      height: 75px;
      width: 75px;
      border-radius: 50%;
    }
  }

  .nav {
    .nav-item {
      border-bottom: 2px solid rgba(200, 200, 200, 0.1);

      &:first-of-type {
        border-top: 2px solid rgba(200, 200, 200, 0.1);
      }

      .nav-link {
        padding-left: 4.5rem;
        padding-right: 4.5rem;
        display: flex;
        justify-content: space-between;
        align-items: center;
      }
    }
  }

  display: block;
}

.main {
  overflow-y: scroll;
  // Container must have a height that it overflows.
  height: 95vh;
  padding: 3rem 2rem;
  flex: 1;
  // transform: translate(0, $navbar-height);
}

#homeMain {
  transform: translate(0, $navbar-height);
}

// Sign In Page
#signIn {
  transform: translate(0, $navbar-height);
  height: 75vh;
  width: 100vw;
  .signin-container {
    width: $signin-width;
  }
}

// Pokedex Page
#pokedex {
  #pokeSearchResults {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;

    .pokemon-card {
      border: 1px solid #ddd;
      border-radius: 0.25rem;

      .poke-img-area {
        position: relative;
        display: flex;
        justify-content: center;
        align-items: center;

        img {
          height: 100px;
        }

        .poke-card-buttons {
          display: flex;
          justify-content: space-between;
          position: absolute;
          width: 100%;
          bottom: 0;

          button {
            opacity: 0.7;
            transition: opacity 0.5s;

            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .poke-details-btn {
        i {
          font-size: 0.75rem;
        }
      }
    }
  }
}

#pokemon {
  #detailsCard {
    // width: 30%;

    i {
      font-size: 1.5rem;
    }

    img {
      width: 215px;
    }
  }

  #detailsAccordion {
    #stats {
      .progress {
        height: 1.5rem;

        .progress-bar {
          transition: all 0.5s;
        }
      }
      .stat-hp:hover {
        background-color: $hp-color;
      }

      .stat-atk:hover {
        background-color: $atk-color;
      }

      .stat-def:hover {
        background-color: $def-color;
      }

      .stat-spatk:hover {
        background-color: $spatk-color;
      }

      .stat-spdef:hover {
        background-color: $spdef-color;
      }

      .stat-spd:hover {
        background-color: $spd-color;
      }
    }

    #abilities {
      .view-item {
        background: white;
      }
      .fa-eye,
      .fa-eye-slash {
        display: none;
      }
    }

    #moves {
      #moveNames {
        background-color: rgba(97, 175, 254, 0.1);
      }

      .move-filter {
        background-color: #dfe5eb;
      }
    }
  }
}

// Move Page
// #moves {
//   // form,
//   // .move-info-container,
//   // #descriptionContainer,
//   // #effectContainer {
//   //   // max-width: 400px;
//   // }
//   form {
//     position: relative;

//     #moveList {
//       max-height: 250px;
//       overflow-y: scroll;
//       width: 100%;
//       position: absolute;
//       top: 100%;
//       left: 0;
//       z-index: 2;
//       box-shadow: 1px 3px 5px #ccc, -1px 0px 5px #ccc;

//       li:hover {
//         background-color: #ddd;
//         cursor: pointer;
//       }
//     }
//   }

//   #moveSearchResults {
//     .move-info-container {
//       display: grid;
//       grid-template-rows: repeat(3, 1fr);
//     }

//     #moveTypeCompare {
//       height: 400px;

//       #superVS,
//       #weakVS,
//       #noEffectVS {
//         flex: 1;
//         border-radius: 5px;
//       }

//       #superVS {
//         // bootstrap's success color.
//         background-color: rgba(40, 167, 69, 0.5);
//       }

//       #weakVS {
//         // bootstrap's secondary color.
//         background-color: rgba(255, 193, 7, 0.5);
//       }

//       #noEffectVS {
//         // bootstrap's danger color.
//         background-color: rgba(220, 53, 69, 0.5);
//       }
//     }

//     #priorityMarkers {
//       li {
//         text-align: center;
//       }
//     }
//   }
// }

@media (max-width: 576px) {
  #sidenavToggler {
    display: inline-block;
  }

  #brandName {
    display: none;
  }

  .navbar-brand a {
    text-decoration: none;
  }
  .side-nav {
    // flex: 0;
    width: 5rem;

    .nav {
      .nav-item {
        .nav-link {
          font-size: 14px;
          padding: 0.5rem 1rem;
          display: block;
          text-align: center;
        }
      }
    }
  }

  // Pokedex
  #pokedex {
    #pokeSearchResults {
      grid-template-columns: 1fr;
    }
  }

  #pokemon {
    .row > div {
      margin-bottom: 2rem;
    }

    .pagination {
      margin-bottom: 3rem;
    }
  }
}
