/* ========================================================================== */
/* IMPORTS */
/* ========================================================================== */
@import "variables";
@import "utilities";

/* ========================================================================== */
/* Global Styling */
/* ========================================================================== */

* {
  box-sizing: border-box;

}
// body {
//   // overflow: hidden;
// }

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

nav {
  .dropdown-menu {
    left: -100%;
  }
}

/* ========================================================================== */
/* Login Page */
/* ========================================================================== */
#login {
  background: $primary-color;
  height: 100vh;

  #formContainer {
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px #111;
  }
}

/* ========================================================================== */
/* Pokedex Page */
/* ========================================================================== */
#pokedex {
  #pokeSearchResults {
    display: grid;
    grid-template-columns: repeat(5, 1fr);
    grid-gap: 2rem;

    .pokemon-card {
      border-radius: 0.25rem;

      .poke-img {
        position: relative;

        img {
          height: 100px;
        }

        .poke-card-buttons {
          position: absolute;
          width: 100%;
          bottom: 0;

          button {
            opacity: 0.7;
            transition: all 0.5s;
            &:hover {
              opacity: 1;
            }
          }
        }
      }

      .poke-details-btn {
        i {
          font-size: 0.75rem;
        }
      }
    }
  }
}

/* ========================================================================== */
/* Pokemon Details */
/* ========================================================================== */
#pokemonDetails {
  #detailsBio {
    
    .details-card {
      // width: 30%;
      
      i {
        font-size: 1.5rem;
      }
  
      img {
        width: 215px;
      }
    }

    #detailsAccordion {
      #stats {
        .progress {
          height: 1.5rem;
        }
        .stat-hp {
          transition: all 0.5s;
          &:hover {
            background-color: rgba(255, 0, 0, 0.75);
          }
        }

        .stat-atk {
          transition: all 0.5s;
          &:hover {
            background-color: rgba(255, 166, 0, 0.75);
          }
        }
        
        .stat-def {
          transition: all 0.5s;
          &:hover {
            background-color: rgba(0, 184, 6, 0.564);
          }
        }

        .stat-spatk {
          transition: all 0.5s;
          &:hover {
            background-color: rgba(128, 0, 128, 0.75);
          }
        }

        .stat-spdef {
          transition: all 0.5s;
          &:hover {
            background-color: rgba(250, 128, 114, 0.75);
          }
        }

        .stat-spd {
          transition: all 0.5s;
          &:hover {
            background-color: rgba(7, 203, 224, 0.714);
          }
        }
      }

      #abilities {
        .view-item {
          background: white;
        }
        .fa-eye, .fa-eye-slash {
          display: none;
        }
      }
    }
  }
}

/* -------------------------------------------------------------------------- */
/* MEDIA QUERIES */
/* -------------------------------------------------------------------------- */
// Fiddling with media queries
@media (max-height: 768px) {
  #pokedex {
    #pokeSearchResults {
      grid-template-columns: repeat(4, 1fr);
    }
  }

  
}

@media (max-width: 576px) {
  .side-nav {
    z-index: 1;
    transition: width 0.5s;

    .shrink-side-icons {
      display: flex;
      flex-direction: column;

      .shrink-btn {
        align-self: flex-end;
        font-size: 1.5rem;
        display: none;
      }

      .expand-btn {
        margin: auto;
        font-size: 1.5rem;
      }

      & ~ a {
        font-size: 1.25rem;
        padding: 0 1rem;

        .side-menu-text {
          display: none;
        }
      }
    }
  }

  .main-content {
    margin-left: 4.25rem;
    transition: all 0.5s;
    padding: 1rem;
  }

  #pokedex {
    #pokeSearchResults {
      grid-template-columns: 1fr;
    }
  }

  #pokemonDetails {
    #detailsBio {
      #detailsAccordion {
        #abilities {
          .view-item {
            background-color: #dfe5eb;
          }
          .fa-eye, .fa-eye-slash {
            display: inline;
          }
        }
      }
    }
  }
}