@import "variables";
@import "utilities";

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
    text-decoration: none;
  }
}

body {
  overflow: hidden;
}

#shrinkSideIcons {
  display: none;

  & ~ a {
    padding: 0 4rem;
  }
}

.side-nav {
  height: 100%;
  position: fixed;
  left: 0;
  // overflow-x: hidden;

  a {
    .side-menu-text {
      line-height: 1rem;
    }
  }
}

#main {
  margin-left: 13.575rem;
  padding: 1rem;
  margin-top: 3.5rem;
  overflow: auto;
  max-height: 100vh;
}

#login {
  background: $primary-color;
  height: 100vh;

  #formContainer {
    border-radius: 5px;
    box-shadow: 5px 5px 10px 1px #111;
  }
}

@media (max-width: 576px) {
  .side-nav {
    z-index: 1;
    transition: width 0.5s;
  }

  #shrinkSideIcons {
    display: flex;
    flex-direction: column;

    #shrinkBtn {
      align-self: flex-end;
      font-size: 1.5rem;
      display: none;
    }

    #expandBtn {
      margin: auto;
      font-size: 1.5rem;
    }
  }

  #shrinkSideIcons ~ a {
    font-size: 1.5rem;
    padding: 0 1rem;
  }

  #main {
    margin-left: 3.3125rem;
    transition: all 0.5s;
  }

  .side-menu-text {
    display: none;
  }
}
