$navbar-height: 77px;

* {
  box-sizing: border-box;
}

html {
  height: 100%;
}

a {
  color: inherit;
  text-decoration: none;

  &:hover {
    color: inherit;
  }
}

.navbar-brand a {
  text-decoration: none;
}

.nav-link {
  cursor: pointer;
}
