@import 'variables';
@import 'utilities';

// Move Page
#moves {
  #moveForm {
    position: relative;

    input {
      border-left: none;
    }

    #moveList {
      max-height: 250px;
      overflow-y: scroll;
      width: 100%;
      position: absolute;
      top: 100%;
      left: 0;
      z-index: 2;
      box-shadow: 1px 3px 5px #ccc, -1px 0px 5px #ccc;

      li:hover {
        background-color: #eee;
        cursor: pointer;
      }
    }
  }
}

#teams {
  input,
  select {
    max-width: 200px;
  }

  #pokeTeam {
    display: flex;
    justify-content: space-between;
    margin-bottom: 2rem;

    .team-member {
      border: 2px solid #eee;
      img {
        width: 100%;
      }
    }
  }

  #currentTeamMember {
    #chosenMoves {
      display: flex;
      justify-content: center;
      flex-direction: row;
    }
  }
}

@media (max-width: 576px) {
  #sidenavToggler {
    display: inline-block;
  }

  #brandName {
    display: none;
  }

  .navbar-brand a {
    text-decoration: none;
  }
  .side-nav {
    // flex: 0;
    width: 5rem;

    .nav {
      .nav-item {
        .nav-link {
          font-size: 14px;
          padding: 0.5rem 1rem;
          display: block;
          text-align: center;
        }
      }
    }
  }

  #teams {
    #pokeTeam {
      .team-member {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
    #currentTeamMember {
      #chosenMoves {
        flex-direction: column;
        input {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
