@import 'variables';
@import 'utilities';

@media (max-width: 576px) {
  #sidenavToggler {
    display: inline-block;
  }

  #brandName {
    display: none;
  }

  .navbar-brand a {
    text-decoration: none;
  }
  .side-nav {
    // flex: 0;
    width: 5rem;

    .nav {
      .nav-item {
        .nav-link {
          font-size: 14px;
          padding: 0.5rem 1rem;
          display: block;
          text-align: center;
        }
      }
    }
  }

  #teams {
    #pokeTeam {
      .team-member {
        display: none;

        &:first-child {
          display: block;
        }
      }
    }
    #currentTeamMember {
      #chosenMoves {
        flex-direction: column;
        input {
          margin-bottom: 1rem;
        }
      }
    }
  }
}
